video,
canvas {
	display: block;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -250px;
}

body {
	color: white;
	display: block;
	background-color: #00AACC;
	font-family: 'Calibri', sans-serif;
}

h1 {
	font-size: 70px;
	margin: -10px;
}

video {
	border: 5px solid white;
}

button {
	outline: none;
	cursor: pointer;
	padding: 8px 16px;
	margin: 10px;
	border-radius: 32px;
	font-size: 16px;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	text-decoration: none;
}

button:hover {
	background-color: white;
	color: #00AACC;
}

.container {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: 1fr;
	text-align: center;
}

#img-output {
	display: block;
	clear: both;
	width: auto;
	height: auto;
	position: relative;
}

.column {
	display: flex;
	flex-direction: column;
}

@media (max-width: 800px) {
	h1 {
		font-size: 50px;
	}
}

@media (max-width: 550px) {
	h1 {
		font-size: 30px;
	}
}