.gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.images {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1080px;
}

.images .image {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center;
	margin:16px;
}