/* Header */

nav {
	width: 100vw;
	padding: 16px;
	display: flex;
	position: fixed;
	font-size: 24px;
	font-weight: 700;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

nav a {
	color: #EE9900;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}

nav img {
	width: 32px;
	height: 32px;
	margin-right: 16px;
}

.nav-spacer {
	height: 64px;
}

@media only screen and (min-width: 1080px) {
	nav {
		padding: 16px calc(50vw - 540px);
	}
}