/* Header */

nav {
	width: 100vw;
	padding:16px calc(50vw - 540px);
	display: flex;
	position: fixed;
	font-size: 24px;
	color: #EE9900;
	font-weight: 700;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	box-shadow: 3px 0 5px rgba(0,0,0,0.3);
}
nav img{
	width: 32px;
	height: 32px;
	margin-right: 16px;
}
.nav-spacer {
    height: 64px;
}

@media only screen and (min-width: 1080px) {
	nav {
		padding: 16px;
	}
}